*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family:'Arial', sans-serif;
  font-size: 17px;
  color: #40494D;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Times New Roman', sans;
  font-weight: 400px;
  color: #283337;;
}

h1{
  font-size: 60px;
}
h2{
  font-size: 52px;
}
h3{
  font-size: 44px;
}
h4{
  font-size: 30px;
  font-weight: 300;
}
h5{
  font-size: 28;
}
h6{
  font-size: 20px;
}
.container{
  max-width:987px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.navbar ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.navbar a{
  text-decoration: none;
  color: gray;
  padding: 15px;
  border-radius: 5px;
  margin: 7px;
  font-size: 12px;
}

.navbar a.sign-in{
  border: 1px solid black ;
  padding: 14px 13px;
  margin-left: 15px;
  border-radius: 100px;
}

.navbar a.sign-up{
  border: 1px solid  rgb(61, 60, 60);
  background-color: rgb(61, 60, 60);
  color: rgb(214, 207, 207);
  border-radius: 50px;
  padding: 10px 20px;
}



.bacground{
  background-color: #F3F7F4;
}

.col-4 a.sign-up{
  border: 1px solid  rgb(61, 60, 60);
  background-color: rgb(61, 60, 60);
  color: rgb(214, 207, 207);
  border-radius: 50px;
  padding: 10px 27px;
  text-decoration: none;
  font-size: 11px;
}
.bacground img.image{
  margin-left: 60%;
  margin-top: -65%;
}

.bacground .col-6{
  margin-top:45%;
  margin-left: 25px;
}


.col-6 li{
  list-style-type: none;
}
.card{
  display: flex;
  justify-content: space-around;
  padding: 40px;
  margin: 40p;
}

.col-12 {
  flex-basis: 100%; /* flex: 100% 0 0; */
  flex-grow: 0;
  flex-shrink: 0;

  
}
.col-11 {
  flex-basis: 91.66%; /* 100%/12*11 */
  flex-grow: 0;
  flex-shrink: 0;
}
.col-10 {
  flex-basis: 83.33%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-9 {
  flex-basis: 75%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-8 {
  flex-basis: 66.66%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-7 {
  flex-basis: 58.33%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-6 {
  flex-basis: 50%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-5 {
  flex-basis: 41.66%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-4 {
  flex-basis: 33.3%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-3 {
  flex-basis: 25%;
  flex-grow: 0;
  flex-shrink: 0;
  
}
.col-2 {
  flex-basis: 16.66%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-1 {
  flex-basis: 8.33%;
  flex-grow: 0;
  flex-shrink: 0;
}
