*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family:'Arial', sans-serif;
  font-size: 17px;
  color: #40494D;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Times New Roman', sans;
  font-weight: 400px;
  color: #283337;;
}

h1{
  font-size: 60px;
}
h2{
  font-size: 52px;
}
h3{
  font-size: 44px;
}
h4{
  font-size: 40px;
  font-weight: 300;
}
h5{
  font-size: 28;
}
h6{
  font-size: 20px;
}
.container{
  max-width:1440px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;


}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.navbar{
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 15px;
  margin: 0 auto;
}
.img-frame-1{
  margin:0 auto;
  padding-right: 30%;
}

.navbar ul  {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.navbar a{
  text-decoration: none;
  color: gray;
  padding: 30px;
  margin: 7px;
  font-size: 12px;
}

.navbar a.sign-in{
  border: 1px solid black ;
  padding: 16px 13px;
  padding-bottom: 10px;
  margin-left: 15px;
  border-radius: 100px;
}

.navbar a.sign-up{
  border: 1px solid  rgb(61, 60, 60);
  background-color: rgb(61, 60, 60);
  color: rgb(214, 207, 207);
  border-radius: 50px;
  padding: 12px 20px;
}

.header {
  background-color: #F3F7F4;
  display: flex;
  position: relative;
  padding: 20px 20px;
  
 
}

.col-6{
  width: 50%;
  padding: 20px ;
}
 .header .header-title{
  font-size: 50px;
  font-weight: 300;
  line-height: 50px;
  padding-top: 38px;  
  padding: 0px;
  
} 
.header .header-subtitle{
  font-size: 21px;
  font-weight: 400;
  line-height: 31px;
}
.header a.sign-in{
  border: 1px solid rgb(61, 60, 60);
  background-color: rgb(61, 60, 60);
  color: rgb(214, 207, 207);
  border-radius: 50px;
  padding: 10px 27px;
  text-decoration: none;
  font-size: 11px;

}

.col-6 li{
  list-style-type: none;
}
.mini-logo{
  background-color: #F3F7F4;
  display: flex;
  justify-content: space-around;
 
  width: 100%;
  align-items: flex-end;
  margin-bottom: 20px;
  padding-bottom: 100px;

}
.mini-logo img {
  margin: 0 50px;
}

.row.white-background{
  display: flex;
  margin: 100px;
}
.white-background .kion-paragraph{
  padding-bottom: 20px;
}
.bacground-2{
  background-color: #F3F7F4;
  padding: 0px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 50px;
  
}
.bacground-2 .check-mark{
  padding-top: 40px;
}
.bacground-2 a{
  font-size: 16px;
  padding-bottom: 50px;
  padding-left: 280px;
}
.bacground-2 .sign-in{
  display: flex;
  text-decoration: none;
  color: rgb(66, 62, 62);
  border-radius: 5px;
  font-size: 13px;
  font-weight: 800;
}

.sign-up{
  border: 1px solid  rgb(61, 60, 60);
  background-color: rgb(46, 43, 43);
  color: rgb(214, 207, 207);
  border-radius: 50px;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 11px;
}

.white-background .cloud{
  color: rgb(78, 76, 76);
  font-weight: 700;
}
.part3{
  background-color: #F3F7F4;
  width: 100%;
}

.part3 .our-padd{
  text-align: center;
  padding-top: 150px;
  font-size: 45px;
  padding-bottom: 40px;  
}
.part3 .number{
  text-align: center;
  font-size: 40px;
  font-weight: 400px;
  
}
.part3 p{
  text-align: center;
  font-size: 16px;
  padding-bottom: 100px;
}

.part-4 .col-7 .col-5{
  display: flex;
  padding-bottom: 100px;  
}
 .part-4 .col-5{
  padding: 60px;
 }

.part-4 .img-6{
  padding-top: 50px;
}
.part-4 .learn-link{
  text-decoration: none;
  color: #40494D;
  font-size: 14px;
  font-weight: bolder;
}

.part-4 .title .paragraph{
  color:#40494D;
}
.part-4 .our-link{
  color: #283337;
  font-size: 10px;
  text-decoration: none;
}

.part-4 .par-1{
  font-size: 14px;
  padding-left: 25px;
}

.part-5 .col-4{
  display: flex;
  padding-left: 10%;
  padding-bottom: 100px;
}
.part-5 .title-built{
  text-align: center;
  padding-bottom: 60px;
  padding-top: 7  0px;
}


.part-6{
  background-color: #F3F7F4;
  padding:50px;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 10%;
}


.part-6 .subtitle-2{
  font-weight: 500;
  font-size: 20px;
  padding-bottom: 40px  ;
}

.part-6 .sign-uppp{
  border: 1px solid  rgb(61, 60, 60);
  background-color: rgb(46, 43, 43);
  color:white;
  border-radius: 60px;
  padding: 13px ;
  text-decoration: none;
  font-size: 12px;
  padding-left: 30px;
  padding-right: 30px;
}


footer{
  display: flex;
  background-color: #101C21;
  justify-content: flex-end;
  position: relative;
  width: 100%;
  min-height: 350px;
  padding: 50px;
}

.containerr{
  max-width: 1140px;
  margin:0 auto;
  padding: 10px;
}
.foot-line{
  display: flex;
}

 .title-product{
  font-size: 13px;
  font-weight: 200;
  color: #878D90;
  font-family: Arial, sans-serif;
}

.col-5 .par{
  color:#CFD2D3;
  min-width: 250px;
  font-size: 13px;
}

.col-5 .par-one{
  padding-top: 25px;
  color: #CFD2D3;
  font-size: 13px;

}

.col-5 .foot-link{
  border: 1px solid #283337;
  background-color:#283337;
  color:#FFFFFF;
  border-radius: 60px;
  padding: 10px ;
  text-decoration: none;
  font-size: 12px;
  padding-left: 30px;
  padding-right: 30px;

}

.foot-line .tit-resources{
  font-size: 13px;
  font-weight: 200;
  color: #878D90;
  font-family: Arial, sans-serif;
  padding-left: 35px;
}

 a.par-two{
  text-decoration: none;
  list-style-type: none;
  color:#CFD2D3;
  font-weight: 300;
  font-size: 11px;
}
.foot-line ul{
  list-style-type: none;
  min-width: 200px;
}

 .image-vector{
  padding-top: 25px;
  padding-left: 0;
}

.sign-line{
  
}
.col-12 {
  flex-basis: 100%; /* flex: 100% 0 0; */
  flex-grow: 0;
  flex-shrink: 0;

  
}
.col-11 {
  flex-basis: 91.66%; /* 100%/12*11 */
  flex-grow: 0;
  flex-shrink: 0;
}
.col-10 {
  flex-basis: 83.33%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-9 {
  flex-basis: 75%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-8 {
  flex-basis: 66.66%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-7 {
  flex-basis: 58.33%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-6 {
  flex-basis: 50%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-5 {
  flex-basis: 41.66%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-4 {
  flex-basis: 33.3%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-3 {
  flex-basis: 25%;
  flex-grow: 0;
  flex-shrink: 0;
  
}
.col-2 {
  flex-basis: 16.66%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-1 {
  flex-basis: 8.33%;
  flex-grow: 0;
  flex-shrink: 0;
}
