*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family:'Arial', sans-serif;
  font-size: 17px;
  color: #40494D;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Times New Roman', sans;
  font-weight: 400px;
  color: #283337;;
}

h1{
  font-size: 60px;
}
h2{
  font-size: 52px;
}
h3{
  font-size: 44px;
}
h4{
  font-size: 40px;
  font-weight: 300;
}
h5{
  font-size: 28;
}
h6{
  font-size: 20px;
}
.container{
  max-width:987px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.navbar ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.navbar a{
  text-decoration: none;
  color: gray;
  padding: 15px;
  border-radius: 5px;
  margin: 7px;
  font-size: 12px;
}

.navbar a.sign-in{
  border: 1px solid black ;
  padding: 14px 13px;
  margin-left: 15px;
  border-radius: 100px;
}

.navbar a.sign-up{
  border: 1px solid  rgb(61, 60, 60);
  background-color: rgb(61, 60, 60);
  color: rgb(214, 207, 207);
  border-radius: 50px;
  padding: 10px 20px;
}

.header{
  background-color: #F3F7F4;
  display: flex;
  padding-top: 179px;
  padding-left: 105px;
}

.col-6 li{
  list-style-type: none;
}
.mini-logo{
  background-color: #F3F7F4;
  display: flex;
  justify-content: space-around;
 
  width: 100%;
  align-items: flex-end;
  margin-bottom: 20px;

}

.bacground-2{
  background-color: #F3F7F4;
  padding: 50px;
  margin: 20px;
  width: 30%;
  height: 50%;
}
.bacground-2 p{
  font-size: 14px;
  font-weight: 600;
  padding: 30px;
}
.bacground-2 .sign-in{
  display: flex;
  text-decoration: none;
  color: rgb(66, 62, 62);
  border-radius: 5px;
  font-size: 13px;
  font-weight: 800;
}

.sign-up{
  border: 1px solid  rgb(61, 60, 60);
  background-color: rgb(46, 43, 43);
  color: rgb(214, 207, 207);
  border-radius: 50px;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 11px;
}

.white-background .cloud{
  color: rgb(78, 76, 76);
  font-weight: 700;
}
.part3{
  background-color: #F3F7F4;
  width: 100%;
}

.part3 h2{
  text-align: center;
  
}
.part3 .number{
  text-align: center;
  font-size: 40px;
  font-weight: 400px;
}
.part3 p{
  text-align: center;
  font-size: 16px;
}


.col-12 {
  flex-basis: 100%; /* flex: 100% 0 0; */
  flex-grow: 0;
  flex-shrink: 0;

  
}
.col-11 {
  flex-basis: 91.66%; /* 100%/12*11 */
  flex-grow: 0;
  flex-shrink: 0;
}
.col-10 {
  flex-basis: 83.33%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-9 {
  flex-basis: 75%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-8 {
  flex-basis: 66.66%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-7 {
  flex-basis: 58.33%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-6 {
  flex-basis: 50%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-5 {
  flex-basis: 41.66%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-4 {
  flex-basis: 33.3%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-3 {
  flex-basis: 25%;
  flex-grow: 0;
  flex-shrink: 0;
  
}
.col-2 {
  flex-basis: 16.66%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-1 {
  flex-basis: 8.33%;
  flex-grow: 0;
  flex-shrink: 0;
}
